<% if params[:first_name].present? %>
  <h1>BIENVENUE <%= params[:first_name] %> !</h1>
<% else %>
  <h1>Bienvenue sur The Gossip Project!</h1>
  <p>Ceci est la page d'accueil de notre application.</p>
<% end %>

<!-- Ajout de l'image du logo -->
<img src="<%= asset_path('the_gossip_project.png') %>" alt="Logo TGP">

<% if flash[:success] %>
  <div class="alert alert-success">
    <%= flash[:success] %>
    </div>
<% end %>

<h1>Liste des potins</h1>
<div class="row">
  <% @gossips.each do |gossip| %>
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= gossip.title %></h5>
          <p class="card-text">Auteur: <%= gossip.user.first_name %></p>
          <%= link_to "Voir le potin", gossip_path(gossip), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "Créer un nouveau potin", new_gossip_path, class: "btn btn-success" %>



